@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Crimson+Text&family=IBM+Plex+Serif&display=swap');
header{
  text-align: center;
}

nav{
  text-align: center;
  background-color: #eee;
  padding: 5px 0px 5px 5px;
  border: 2px solid #ddd;
  margin: 10px 405px 15px;
}

nav li{
  font-weight: bold;
  font-size: 18px;
  margin-right:20px;
  display: inline-block;
}

h1{
  font-size: 32px;
  font-family: "Chakra Petch", "Times New Roman", sans-serif;
  font-weight: 600;
}

h2{
  font-family: "IBM Plex Serif", "Arial", sans-serif;
}

body{
  font-size: 16px;
  font-family: "Crimson Text", "Times New Roman", serif;
}

footer{
  text-align: center;
  background-color: #eee;
  padding: 5px 0px 5px 5px;
  border: 2px solid #ddd;
  margin: 15px 405px 15px;
}

a,
a:link,
a:visited{
  color: #D40000;
  text-decoration: none;
}

a:hover{
  color: #600000;
  text-decoration: underline;
  border-bottom: 5px #600000;
}

a:active{
  color: #600000;
  text-decoration: underline;
  border-bottom: 5px #600000;
}

#home_main{
  display: grid;
  max-width: 960px;
  margin: 0 auto;
}

#about_me{
  width: 540px;
  float:left;
  padding-bottom: 10px;
  padding-right: 63px;
}

/*Adds shadow to pictures -- makes it look less flat*/
#pic_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#languages_programs{
  display: grid;
  grid-template-columns: 350px 290px 400px;
  float: left;
}

#photo_manip{
  max-width: 940px;
  margin: 0 auto;
  border-bottom: 2px solid #ddd;
}

#data_vis{
  max-width: 940px;
  margin: 20px auto;
}

#data_vis p{
  padding-bottom: 15px;
}

#insomniac{
  height: 660px;
  width: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#cows{
  height: 555px;
  width: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#merch{
  max-width: 940px;
  margin: 0 auto;
}

#tshirts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

#tshirts img{
  width: 100%;
}

#app_main{
  display: grid;
  max-width: 960px;
  margin: 0 auto;
}

#earmark_intro{
  width: 540px;
  float:left;
  padding-bottom: 10px;
  padding-right: 63px;
}

#earmark_logo{
  width: 28%;
}

#line{
  border-bottom: 2px solid #ddd;
}

#acc_setup{
  padding-bottom: 30px;
}
#acc_setup p{
  width: 950px;
  padding-bottom: 10px;
}

#acc_setup video{
  float: left;
  margin-right: 40px;
  border: 0.5px solid #000;
}

#bill_budget{
  padding-bottom: 20px;
}

#bill_budget p{
  width: 640px;
}

#bill_budget video{
  float: right;
  margin-left: 40px;
  border: 0.5px solid #000;
  margin-bottom: 10px;
}

#all_screens{
  padding-bottom: 10px;
}

#all_screens video{
  float: left;
  margin-right: 40px;
  border: 0.5px solid #000;
}

/*from Web Zone on Youtube */
.slider{
	margin:50px auto;
	width:50%;

}

.img-box img{
	width:100%;
}

.btn{
	border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;
}

.btn:hover{
	background: #111;
}
/*End YouTube*/

#buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
